*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(191, 200, 207, 0.74);
}
#first{
    margin-top: 150px;
    margin-left: 660px;
    margin-right: 80px;

    border: 1px solid rgba(160, 156, 156, 0.966);
    width: 270px;
    height: 420px;
    background-color: white;
    border-radius: 8px 8px 8px 8px ;
}
.image{
    border: 1px solid rgba(245, 245, 245, 0.842);
    border-radius: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    width: 259px;
    height: 200px;
}
.image img{
    width: 259px;
    height: 200px;
    background-size:cover;
    border-radius: 7px;
}
.text{
    margin-left: 15px;
}
.text .button1{
    color: rgba(73, 66, 66, 0.959);
    background-color: white;
 border: 1px solid black;
width: 60px;
border-radius: 7px;
margin-left: 5px;
}
.text .button2{
    color: rgba(73, 66, 66, 0.959);
    margin-top: 7px;
    margin-bottom: 15px;
 background-color: white;
border: 1px solid black;
width: 40px;
border-radius: 7px;
margin-left: 5px;

}
.text h4{
    margin-bottom: 12px;
font-size: 20px;
font-family:'Arial' ;
}
.text p{
    color: rgba(73, 66, 66, 0.959);
    display: inline;
    font-style: normal;
    font-size: 15px;
}
.button3 button{
    margin-top: 12px;
    margin-left: 80px;
    color: darkblue;
    height: 30px;
    width: 80px;
    border: 2px none;
    font-size: 8px;
    border-radius: 15px;
    background-color:lightskyblue;
}